<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Team Name: <%=@name%></title>
 </head>
 <body>
    <h1>Team Name: <%=@name%></h1><br>
    <p>
        Coach: <%=@coach%><br>
        Point Guard: <%=@pg%><br>
        Shooting Guard: <%=@sg%><br>
        Power Forward: <%=@pf%><br>
        Small Forward: <%=@sf%><br>
        Center: <%=@c%>
    </p>
 </body>
</html>


